.error-message {
  position: absolute;
  left: 2%;
  color: rgba(243, 243, 243, 0.863);
}

@media (min-width: 600px) {
  .error-message {
    top: -30%;
  }
}

@media (max-width: 600px) {
  .error-message {
    top: -17%;
    left: 20%;
  }
}


@media (max-width: 480px) {
  .error-message {
    top: -17%;
    left: 0;
  }
}
