.search__title {
  margin: 0 auto 30px;
  font-family: Roboto Slab;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
}

@media (max-width: 800px) {
  .search__title {
    margin-left: 0;
    margin-bottom: 13px;
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
  }
}
