@import url('__title/client__title.css');
@import url('__description/client__description.css');

.client {
  margin: 0 auto 90px;
  max-width: 1235px;
  padding: 0 40px;
  text-align: left;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
  .client {
    margin-bottom: 40px;
  }
}

@media (max-width: 450px) {
  .client {
    margin-bottom: 25px;
  }
}
