@import url('__block/no-result__block.css');
@import url('__title/no-result__title.css');
@import url('__text/no-result__text.css');

.no-result {
  padding-bottom: 80px;
  display: none;
}

@media (max-width: 600px) {
  .no-result {
    padding: 40px 0;
  }
}
