@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  src: url("roboto-medium.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url("roboto-regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  src: url("robotoslab-regular.woff") format("woff");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  src: url("sourcesanspro-regular.woff") format("woff");
}
