@import url('_current/question__link_current.css');

.question__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  }

