@import url('__title/text-hub__title.css');
@import url('__link/text-hub__link.css');

.text-hub {
  max-width: 1206px;
  text-align: end;
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 60px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
