@import url('_theme-dark/logo_theme-dark.css');

.logo {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
