.pages__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-left: 34px;
  text-decoration: none;
}


.pages__link:hover {
  opacity: 0.8;
  transition: 0.3s;
}
