.header__container {
  max-width: 1235px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0 26px;
}

@media (max-width: 1280px) {
  .header__container {
    padding-bottom: 18px;
  }
}


@media (max-width: 600px) {
  .header__container {
    padding-bottom: 16px;
  }
}
