@import url('../pages/pages.css');
@import url('_active/pages__link_active.css');
@import url('header__container.css');

.header {
  margin-bottom: 78px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
